@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/*'Inter'*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/*Outfit*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*Lato*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-main-color: #ffffff;
  --background-secondary-color: #f5f7fa;
  --inactive-color: #b1b1b1;
  --active-color: #2d60ff;
  --search-text-color: #8ba3cb;
  --faded-text-color: #ffffffb3;
  --main-font-family: "Inter";
  --icon-font-family: "Outfit";
  --card-font-family: "Lato";
  --primary-text-color: #343c6a;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: var(--main-font-family), sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-main-color);
}

.container {
  max-width: 20rem;
  margin-inline: auto;
}

@media screen and (min-width: 48rem) {
  .container {
    max-width: 48rem;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    max-width: 64rem;
  }
}
